version 5.198.0

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget Dap.Platform 0.6.13

nuget Fable.Dap.Prelude 0.6.2
nuget Fable.Dap.Context 0.6.3
nuget Fable.Dap.Platform 0.6.4
nuget Fable.Dap.WebSocket 0.6.2
nuget Fable.Dap.Remote 0.6.2

nuget Fable.Elmish.React 3.0.0-beta-5
nuget Fable.Elmish.Browser 3.0.0-beta-4
nuget Fable.Elmish.Debugger  3.0.0-beta-3
nuget Fable.Elmish.HMR 4.0.0-beta-5

group Build
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02

