version 5.172.4

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget Fable.Dap.Local
nuget Fable.Dap.Remote

nuget Fable.PowerPack
nuget Fable.Import.Browser
nuget Fable.React
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02

