version 5.203.2

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Argu

nuget Dap.Prelude
nuget Dap.Context
nuget Dap.Platform
nuget Dap.WebSocket
nuget Dap.Remote

# Remote
nuget FSharp.Data
nuget jose-jwt

# AWS
nuget AWSSDK.S3

# Web
nuget Microsoft.AspNetCore.Cors
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Diagnostics.Elm
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore.WebSockets
nuget Giraffe

# Fable
nuget Fable.Dap.Prelude
nuget Fable.Dap.Context
nuget Fable.Dap.Platform
nuget Fable.Dap.WebSocket
nuget Fable.Dap.Remote

nuget Fable.React
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR

nuget Fulma
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free

# Farango
nuget Fable.JsonConverter
nuget FSharp.Control.AsyncSeq
nuget Newtonsoft.Json

# Build
nuget Dap.Build

clitool dotnet-sourcelink
nuget Microsoft.SourceLink.GitHub prerelease
nuget Microsoft.Build.Tasks.Git prerelease
nuget Microsoft.SourceLink.Common prerelease
