version 5.196.2

storage: none

source https://www.nuget.org/api/v2
framework: auto-detect

nuget Fable.JsonConverter
nuget FSharp.Control.AsyncSeq
nuget FSharp.Core
nuget FSharp.Data
nuget Newtonsoft.Json

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02
