version 5.195.5

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget Dap.Remote
nuget Dap.Local.Farango
nuget Dap.Local.Console

nuget Microsoft.AspNetCore.WebSockets
nuget FSharp.Data
nuget jose-jwt

# Server.Web
nuget Microsoft.AspNetCore.Cors
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Diagnostics.Elm
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.AspNetCore.WebSockets
nuget Giraffe

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02
