version 5.181.1

source https://nuget.yjpark.org/nuget/dap
source https://www.nuget.org/api/v2
storage: none
framework: auto-detect

nuget FSharp.Core

nuget Dap.Remote.Server
nuget Dap.Remote.Console
nuget Dap.Remote.Web

nuget Dap.Local.Console
nuget Dap.Eto
nuget Dap.Eto.Gtk

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build
    nuget Dap.Context
    nuget Dap.Platform
    nuget Dap.Gui
    nuget Dap.Eto

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02
